APP_NAME="SES System API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

APP_LOCALE=ja
APP_FALLBACK_LOCALE=ja
APP_FAKER_LOCALE=ja_JP

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5433
DB_DATABASE=ses_system
DB_USERNAME=ses_user
DB_PASSWORD=ses_password

SESSION_DRIVER=file
QUEUE_CONNECTION=sync
CACHE_STORE=file

FILESYSTEM_DISK=local

VITE_APP_NAME="${APP_NAME}"